.annonce_img{
  width: 100px !important;
}
.annonce_img_show{
  width: 400px !important;
}
.notif_title{
  font-size: 24px;
}
.notif{
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 200px;
  width: 100%;
  background: lightgray;
}
